body {
  font-family: sans-serif;
  color: #2c3e50;
}

html,
body {
  margin: 0;
  padding: 0;
}

sl-tab-group::part(base),
sl-tab-group::part(body),
sl-tab-panel::part(base),
sl-tab-panel::part(body),
sl-tab-panel {
  height: 100%;
}
